<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- meta information -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- title of webpage -->
        <title> STADVDB </title>

        <!-- css files -->
        <link rel="stylesheet" type="text/css" href="./css/global.css">
        <link rel="stylesheet" type="text/css" href="./css/home.css">

        <!-- Font Awesome icon library -->
        <script src="https://kit.fontawesome.com/77b56ec5f8.js" crossorigin="anonymous"></script>

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- scripts -->
        <script type="text/javascript" src="./js/home.js"></script>
    </head>

    <body>
        <div id="main-body">
            <div id="top-half">
                <div id="movies-ids">
                    <div id="id-input">
                        <input type="number" id="movie-id" placeholder="Enter a movie ID">
                        <button id="search-movie-btn">
                            Search
                        </button>
                        <button id="crash-node1-btn" action="/crashNode1" >
                             Crash Node 1
                        </button>
                        <button id="crash-node1bef-btn" action="/crashNode1befMV" >
                             Crash Node 1 before commit
                        </button>
                        <button id="crash-node2-btn" action="/crashNode2" >
                             Crash Node 2
                        </button>
                        <button id="crash-node3-btn" action="/crashNode3">
                             Crash Node 3
                        </button>
                    </div>
                    <div class="id-box">
                        <table class="id-box-records">
                            <thead>
                                <tr>
                                    <th>Movie Name</th>
                                    <th>ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each movieIds}}
                                    <tr>
                                        <td>{{title}}</td>
                                        <td>{{id}}</td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="add-movie-box">
                    <h2 class="section-header">Add a Movie</h2>
                    <form id="add-movie" name="add-movie" action="/addMovie" method="post" autocomplete="off">
                        <div>
                            <div>
                                <label for="add-id">ID</label>
                                <input type="number" id="add-id" name="addId">
                            </div>

                            <div>
                                <label for="add-year">Year</label>
                                <input type="number" id="add-year" name="addYear">
                            </div>

                            <div>
                                <label for="add-rank">Rank</label>
                                <input type="number" id="add-rank" name="addRank">
                            </div>
                        </div>

                        <label for="add-name">Title</label>
                        <input id="add-name" name="addName">

                        <label for="add-genre">Genre</label>
                        <input id="add-genre" name="addGenre">

                        <label for="add-director">Director</label>
                        <input id="add-director" name="addDirector">

                        <label for="add-actor1">Actor 1</label>
                        <input id="add-actor1" name="addActor1">

                        <label for="add-actor2">Actor 2</label>
                        <input id="add-actor2" name="addActor2">

                        <button id="add-movie-btn" class="noselect" type="submit" disabled>Add Movie</button>
                        <span id="add-movie-error-msg"></span>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>