<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- meta information -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- title of webpage -->
        <title> STADVDB </title>

        <!-- css files -->
        <!--
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <link rel="stylesheet" type="text/css" href="./css/tooltip.css">
        -->

        <!-- Font Awesome icon library -->
        <script src="https://kit.fontawesome.com/77b56ec5f8.js" crossorigin="anonymous"></script>

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- scripts -->
        <!--
        <script type="text/javascript" src="./js/converter.js"></script>
        <script type="text/javascript" src="./js/pageInteraction.js"></script>
        <script type="text/javascript" src="./js/script.js"></script>
        -->
    </head>

    <body>
        Hello World!
    </body>
</html>