<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- meta information -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- title of webpage -->
        <title> STADVDB </title>

        <!-- css files -->
        <link rel="stylesheet" type="text/css" href="../css/global.css">
        <link rel="stylesheet" type="text/css" href="../css/actor.css">

        <!-- Font Awesome icon library -->
        <script src="https://kit.fontawesome.com/77b56ec5f8.js" crossorigin="anonymous"></script>

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- scripts -->
        <script type="text/javascript" src="./js/test.js"></script>
    </head>

    <body>
        <div id="user-adder">
            <input id="add-id">
            <input id="add-fname">
            <input id="add-lname">
            <button id="add-user-btn">Add</button>
        </div>
        {{#each users}}
        <div id="user-box">
            {{id}}: {{fname}} {{lname}}
        </div>
        {{/each}}
    </body>
</html>