/* Whole page */
body {
    width: 100%;
    height: 100%;
	margin: 0;
    background-color: #161922;
    font-family: 'Roboto', sans-serif;
    color: white;
}

h1, h2, h3, h4, p {
    margin: 0;
}

.h-spacer {
    height: 32px;
}

#main-body {
    padding: 4px 8px;
}

.section-header {
    padding: 8px 16px 4px 16px;
    border-bottom: 1px solid white;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 16px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.clickable {
    border: 0;
    box-shadow: 1px 2px 2px #555555;
    text-align: center;
    cursor: pointer;
}
.clickable:hover {
    filter: brightness(90%);
}
.clickable:active {
    filter: brightness(75%);
}
.clickable-disabled {
    border: 0;
    text-align: center;
    filter: brightness(75%);
    color: #616161;
}