#top-half {
    width: calc (100% - 16px);
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid white;
}

#movies-ids {
    text-align: center;
    width: 60%;
    padding: 32px 16px 0px 16px;
    margin: auto;
    margin-bottom: 32px;
}

#id-summary button {
    margin-bottom: 16px;
}

/*  Remove arrow selector for number input
    Ref: https://www.geeksforgeeks.org/how-to-disable-arrows-from-number-input/
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#id-input {
    margin-bottom: 16px;
}

input:focus {
    outline: none;
}

.id-box {
    height: 320px;
    overflow-y: scroll;
    border: 1px solid white;
    text-align: left;
}

.id-box-records {
    width: 100%;
    border-collapse: collapse;
}

.id-box-records tr {
    margin-bottom: 4px;
}

.id-box-records tr:nth-child(odd) {
    background-color: #606466;
}

.id-box-records tr:nth-child(even) {
    background-color: #333435;
}

.id-box-records th {
    position: sticky;
    top: 0;
    padding: 0px 8px;
    background-color: #202324;
}

.id-box-records td {
    padding: 0px 8px;
}

.id-box-records td:nth-child(1) {
    width: 75%;
}

#add-movie-box {
    width: calc(40% - 1px);
    border-left: 1px solid white;
}

#add-movie {
    padding: 16px 8px;
}

#add-movie > div {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

#add-movie > div, #add-movie > input {
    width: 30%;
}

#add-movie > label {
    display: block;
}

#add-movie > input {
    display: block;
    width: 60%;
    margin-bottom: 8px;
}

#add-movie-error-msg {
    color: red;
}