#edit-movie-box {
    width: calc(40% - 1px);
    border-left: 1px solid white;
}

#edit-movie {
    padding: 16px 8px;
}

#edit-movie > div {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-bottom: 8px;
}

#edit-movie > div > div {
    margin-right: 0px 16px;
}

#edit-movie > div, #edit-movie > input {
    width: 30%;
}

#edit-movie > label {
    display: block;
}

#edit-movie > input {
    display: block;
    width: 60%;
    margin-bottom: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
    outline: none;
}

#edit-movie-error-msg {
    color: red;
}