#actors-box {
    width: 50%;
    height: 320px;
    overflow-y: scroll;
    border: 1px solid white;
    text-align: left;
    padding: 0px 8px;
}

#actors-records {
    width: 100%;
    border-collapse: collapse;
}

#actors-records tr {
    margin-bottom: 4px;
}

#actors-records th {
    position: sticky;
    top: 0;
    padding: 0;
    background-color: #202324;
}

#actors-records td {
    padding: 0;
}

#actors-records td:nth-child(1) {
    width: 75%;
}